<% @initial_value = '' %>
<div class="container">
  <div class="page-header">
    <h1>Converter</h1>
  </div>
  <%= form_tag(url_for(:action => 'index'), :remote => true) do %>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-12">
        <div class="pull-left">
          <%= submit_tag 'URL Decode', :name => 'decode_button', :class => 'btn btn-primary' %>
          <%= submit_tag 'URL Encode', :name => 'encode_button', :class => 'btn btn-primary' %>
          <%= submit_tag 'Replace \ with /', :name => 'replace_button', :class => 'btn btn-primary' %>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-primary clipboard-btn" data-clipboard-target="#result_value">Copy to clipboard</button>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-6">
        <label for="input_value">Input</label>
        <%= text_area_tag 'input_value', @initial_value, :class => 'form-control', :size => '10x6', :style => 'resize:none' %>
      </div>
      <div class="col-md-6">
        <label for="result_value">Result</label>
        <div id="result_value" class="form-control" style="height: 135px; word-break: break-all;"></div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <h4>Sample data</h4>
      <ul>
        <li>http://%E3%81%82</li>
        <li>http://あ</li>
        <li>C:\tmp\data</li>
      </ul>
    </div>
  </div>
</div>
